html, body {
  margin: 0;
  padding: 0;
  
}

main {
  position: relative;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  z-index: 1; 
}

button {
  padding: 15px 15px;
  font-size: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.05);
}

h1 {
  font-family: "Fredericka the Great", serif;
  text-align: center;
  color: white;
  font-size: 50 px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
}

.gallery .frame {
  width: 100px; 
  height: 200px;
  border: 20px solid #5b401e;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  display: block;
}

.gallery .frame:hover {
  transform: scale(1.1);
  box-shadow:#333
}

.gallery .frame img {
  width: 100%;
  height: 150px; 
  display: block;
  object-fit: cover; 
}

.gallery .frame span {
  display: block;
  margin-top: 15px;
  color: #000000;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

.instructions {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

